<div>
    <button mat-button [matMenuTriggerFor]="menu">{{colorSchemeService.currentActive()}}</button>
    <mat-menu #menu="matMenu">
        @for (theme of themes; track theme.name) {
            <button value='dark-theme' mat-menu-item (click)="setTheme(theme.name)">
                @if (colorSchemeService.currentActive() === theme.name) {
                    <fa-icon class="fs-6" [icon]="['fas', 'check']"></fa-icon>
                }
                {{ theme.name }}
            </button>
        }
    </mat-menu>
</div>
