<div class="box-container">
    <mat-card class="box">
        <mat-card-header>
            <h1>Login</h1>
        </mat-card-header>
        <mat-card-content>
            <mat-form-field class="col-12" appearance="outline">
                <mat-label>Usuario</mat-label>
                <input (keyup)="loginError = false" matInput [formControl]="usernameFormControl"
                    [errorStateMatcher]="matcher" placeholder="Usuario">
                @if (usernameFormControl.hasError('required')) {
                    <mat-error>Insira o usuario</mat-error>
                }
            </mat-form-field>
            <mat-form-field class="col-12" appearance="outline">
                <mat-label>Senha</mat-label>
                <input (keyup)="loginError = false" matInput type="password" [formControl]="passwordFormControl"
                    [errorStateMatcher]="matcher" placeholder="Senha">
                @if (passwordFormControl.hasError('required')) {
                    <mat-error>Insira a senha</mat-error>
                }
            </mat-form-field>
            @if (loginError) {
                <mat-error>Usuario ou senha incorretos</mat-error>
            }
        </mat-card-content>

        <mat-card-footer>
            <mat-card-actions class="d-flex align-items-end flex-column">
                <a mat-flat-button (click)="login()" class="btnSave ml-auto">
                    <fa-icon class="fs-2" [icon]="['fas', 'door-open']"></fa-icon>
                </a>
            </mat-card-actions>
        </mat-card-footer>
    </mat-card>
</div>
