<!-- <form class="example-form"> -->
    <mat-form-field class="example-full-width">
        <mat-label>Usuario</mat-label>
        <input (keyup)="loginError = false" matInput [formControl]="usernameFormControl" [errorStateMatcher]="matcher" placeholder="Usuario">
        <mat-error *ngIf="usernameFormControl.hasError('required')">
            Insira o usuario
        </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>Senha</mat-label>
        <input (keyup)="loginError = false" matInput type="password" [formControl]="passwordFormControl" [errorStateMatcher]="matcher" placeholder="Senha">
        <mat-error *ngIf="passwordFormControl.hasError('required')">
            Insira a senha
        </mat-error>
    </mat-form-field>
    <mat-error *ngIf="loginError">
        Usuario ou senha incorretos
    </mat-error>

    <div class="action">
        <a mat-flat-button (click)="login()" class="btnSave">
            <mat-icon>login</mat-icon>
            <fa-icon class="fs-2" [icon]="['fas', 'door-open']"></fa-icon>
            <span>Entrar</span>
        </a>
    </div>
<!-- </form> -->