.inline-calendar-card {
  width: fit-content;
  margin-bottom: 2rem;
  max-width: 600px;
}

.form-field {
  margin: 5px;
}

.designacao {
  display: inline-table;
}

input:read-only {
  cursor: pointer;
}


.reuniaoHist {
  cursor: pointer;

  .mdc-floating-label--float-above {
    cursor: pointer;
  }

  :is(label),
  input,
  mat-label {
    cursor: pointer
  }
}

.erro {
  color: brown !important;
}

.tooltip {
  white-space: pre-line;
}