<mat-toolbar color="primary">
    <mat-toolbar-row [routerLink]="['designacao']" (click)="onSelect.emit('designacao')">
        <fa-icon class="fs-4 me-2" [icon]="['far', 'calendar']"></fa-icon> <span>Designacao</span>
    </mat-toolbar-row>

    <mat-toolbar-row [routerLink]="['voluntario']" (click)="onSelect.emit('voluntario')">
        <fa-icon class="fs-4 me-2" [icon]="['fas', 'person']"></fa-icon> <span>Voluntario</span>
    </mat-toolbar-row>
    <mat-toolbar-row [routerLink]="['privilegio']" (click)="onSelect.emit('privilegio')">
        <fa-icon class="fs-4 me-2" [icon]="['fas', 'gift']"></fa-icon> Privilégio
    </mat-toolbar-row>
</mat-toolbar>


<div class="settings">
    <fa-icon class="fs-4 p-2" [icon]="['fas', 'gear']" [routerLink]="['config/user']"
        (click)="onSelect.emit('config/user')"></fa-icon>
</div>