@import url("default.css");

body {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0;
    padding: 0;
}

.mat-drawer-container {
    position: initial;
}

.mat-drawer-content{
    overflow: hidden;
}

.mat-drawer {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.menu {
    /* margin-bottom: 2rem; */
}

.dashboard {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: auto;
    z-index: 1000;
    background-color: inherit;
    background-color: rgba(255, 255, 255, 0.7);

}

.router {
    margin-top: 3rem;
}

.logout{
    float: right;
}