<mat-drawer-container class="container-fluid" [ngClass]="appId" [hasBackdrop]="true">
    <mat-drawer #drawer [mode]="'over'">
        <app-menu (onSelect)="drawer.toggle()">
        </app-menu>
    </mat-drawer>
    <mat-drawer-content>
        <header class="app-navbar">
            <div class="navbar-start">
                @if (isUserLoggedIn()) {
                    <button mat-icon-button class="menu-btn" (click)="drawer.toggle()">
                        <fa-icon [icon]="['fas', 'bars']"></fa-icon>
                    </button>
                }
                <a class="app-brand" [routerLink]="['/home']">
                    <fa-icon [icon]="['fas', 'people-roof']" class="brand-icon"></fa-icon>
                    <span class="brand-name">Designações</span>
                </a>
            </div>
            <div class="navbar-end">
                <app-setting-change-color-scheme></app-setting-change-color-scheme>
                @if (isUserLoggedIn()) {
                    <button mat-icon-button (click)="logout()">
                        <fa-icon [icon]="['fas', 'right-from-bracket']"></fa-icon>
                    </button>
                }
            </div>
        </header>

        <div class="router">
            <router-outlet></router-outlet>
        </div>
    </mat-drawer-content>
</mat-drawer-container>
