<mat-drawer-container class="container-fluid" [hasBackdrop]="'true'">
    <mat-drawer #drawer [mode]="'over'">
        <app-menu (onSelect)="drawer.toggle()">
        </app-menu>
    </mat-drawer>
    <mat-drawer-content>

        <div class="dashboard">
            <button mat-flat-button (click)="drawer.toggle()" *ngIf="isUserLoggedIn">
                <mat-icon class="icon-display background-gradient">dashboard</mat-icon>
            </button>
            <button class="logout" mat-flat-button (click)="logout()" *ngIf="isUserLoggedIn">
                <mat-icon class="icon-display background-gradient">logout</mat-icon>
            </button>
            <mat-divider class="menu"></mat-divider>
        </div>

        <div class="router">
            <router-outlet></router-outlet>
        </div>
    </mat-drawer-content>
</mat-drawer-container>