<mat-toolbar>
    <a mat-flat-button (click)="novoVoluntario()">
        <fa-icon class="fs-3" [icon]="['fas', 'user-plus']"></fa-icon>
    </a>

    <mat-form-field appearance="outline" (click)="$event.stopPropagation()">
        <input matInput type="text" [(ngModel)]="busca" (keyup.enter)="getList()" placeholder="Buscar">
        <button matSuffix mat-icon-button aria-label="search" (click)="getList()">
            <fa-icon [icon]="['fas', 'search']"></fa-icon>
        </button>
    </mat-form-field>
</mat-toolbar>

<mat-divider class="mb-2 mt-2"></mat-divider>

<div class="row">

    <mat-card *ngFor="let item of list" class="m-1 col">
        <mat-progress-bar mode="indeterminate" *ngIf="item.isLoading"></mat-progress-bar>
        <mat-card-header>
            <mat-card-title>
                <mat-label></mat-label>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-form-field appearance="outline">
                <mat-label>Publicador</mat-label>
                <input matInput type="text" [(ngModel)]="item.nome" (keyup.enter)="salvar(item, false)"
                    (blur)="salvar(item, false)" placeholder="Publicador">
            </mat-form-field>
            <mat-form-field appearance="outline" class="m-0">
                <mat-label>Privilégios</mat-label>
                <mat-select multiple [compareWith]="compareFn" [(ngModel)]="item.privilegioList"
                    (selectionChange)="salvar(item, false)">
                    <mat-option *ngFor="let subItem of privilegioList"
                        [value]="subItem">{{subItem.descricao}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-divider></mat-divider>
        </mat-card-content>
        <mat-card-footer>
            <button mat-button (click)="removeVoluntario(item);$event.stopPropagation()">
                    <fa-icon class="fs-4" [icon]="['fas', 'user-minus']"></fa-icon>
                </button>
        </mat-card-footer>
    </mat-card>
</div>
<div class="mb-3"></div>