form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.action {
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: inline;
}

.remove-my-user {
  float: right;
}

.clickable {
  cursor: pointer;

  &:hover {
    font-weight: bold;
  }
}
