@import url("/src/app/vars.css");

.content {
    margin-bottom: 1rem;
    border-bottom: black;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: brown;
    font-size: medium;
}

.header-print {
    font-weight: bold;
    font-style: oblique;
}

.line {
    font-size: medium;
}

.sec1 {
    padding-right: 1rem;
}

.btnSave {
    float: right;
}

.action {
    margin-bottom: 2rem;
}


.header-break {
    page-break-before: always;
    margin-bottom: 0.1cm;
    margin-top: 0.1cm;
}

.titulo {
    text-align: center;
    margin-bottom: 0.1cm;
    font-style: oblique;
    margin-top: 0;
}

h1 {
    font-size: larger;
    margin-bottom: 0.1cm;
}

h2 {
    font-size: large;
    margin: .1cm;
}

h3 {
    font-size: medium;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: .1cm;

    :is(label) {
        mat-icon {
            font-size: 100px;
        }
    }
}

.material-icons {
    font-size: 20px;
}

#print-section>div>div>span>h3>span>mat-icon {
    font-size: 100px;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.bloco {
    /* height: 3cm; */
}

.divider {
    margin-top: 0.1cm;
    margin-bottom: 0.1m;
}

@media print {
    body {
        margin: 0;
    }
}

.text {
    overflow: hidden;
    text-overflow: ellipsis;
    /* white-space: nowrap; */
    display: block;
    width: 100%;
    min-width: 1px;
}

.header-print {
    color: #474a51;
}