<div class="action">
    <a mat-flat-button [routerLink]="'/designacao/novo'" class="btnSave">
        <fa-icon class="fs-4 me-2" [icon]="['fas', 'people-roof']"></fa-icon>
        <span>Nova reunião</span>
    </a>

    <a mat-flat-button (click)="isPrinting=true;imprimir()">
        <fa-icon class="fs-4 me-2" [icon]="['fas', 'file-pdf']"></fa-icon>
    </a>
</div>


<div class="content">

    <mat-form-field>
        <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
            <input matStartDate formControlName="start" placeholder="Inicio">
            <input matEndDate formControlName="end" placeholder="Fim">
        </mat-date-range-input>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker>
            <mat-date-range-picker-actions>
                <button mat-raised-button color="primary" matDateRangePickerApply (click)="getList()">Buscar</button>
            </mat-date-range-picker-actions>
        </mat-date-range-picker>


        <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Data inicial invalida</mat-error>
        <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Data final invalida</mat-error>
    </mat-form-field>


    <mat-expansion-panel *ngFor="let item of reuniaoList">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-checkbox [checked]="item.check" (click)="print();$event.stopPropagation()"
                    (change)="item.check = !item.check">
                </mat-checkbox>
                {{stringToDate(item.data) | date : 'dd/MM/yyyy - EEEE'}}
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="row">
            <mat-card-header>
                <mat-card-actions>
                    <a mat-flat-button (click)="remove(item)" matTooltip="Remover reunião">
                        <fa-icon class="fs-4 me-2" [icon]="['fas', 'minus']"></fa-icon>
                    </a>
                </mat-card-actions>
            </mat-card-header>
            <mat-card *ngFor="let subItem of item.designacaoList"
                class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-1 m-1">
                <mat-card-content>
                    <mat-label class="fs-5 d-inline-block text-truncate">{{subItem.privilegio.descricao}}</mat-label>
                    <mat-divider></mat-divider>
                    <mat-label class="fs-6">{{subItem.voluntario.nome}}</mat-label>
                </mat-card-content>
            </mat-card>

        </div>
    </mat-expansion-panel>
</div>

<mat-expansion-panel>

    <div id="print-section" class="m-0 p-0">

        <div class="titulo mt-0">
            <h2>Indicadores e Volantes</h2>
        </div>

        <div *ngFor="let item of ds, index as i" class="bloco">
            <div class="d-flex">
                <span class="d-flex">
                    <h3>
                        <strong>
                            {{stringToDate(item['data']) | date : 'dd'}} de
                            {{stringToDate(item['data']) | date : 'MMMM - E'}}
                        </strong>
                    </h3>
                </span>
            </div>

            <div class="header-print" fxLayout="row" fxFlexAlign="baseline" fxLayoutAlign="space-evenly stretch">
                <div fxFlex="15" class="sec1" fxFlex.xs="55" *ngFor="let privilegio of privilegioList">
                    <span class="text">{{privilegio.descricao}}</span>
                </div>
            </div>
            <mat-divider class="divider"></mat-divider>
            <div class="content line" fxLayout="row" fxFlexAlign="baseline" fxLayoutAlign="space-evenly end">
                <div fxFlex="15" class="sec1" fxFlex.xs="55" *ngFor="let privilegio of privilegioList">
                    <span>{{item[privilegio.codigo]}}</span>
                </div>
                <div>
                </div>
            </div>
            <div class="header-break titulo" *ngIf="i == 9 || i == 16">
                <h2>Indicadores e Volantes</h2>
            </div>
        </div>
    </div>
</mat-expansion-panel>