@use '@angular/material' as mat;
@include mat.core();

@import "var-bs-dark.scss";
@import "var-bs-light.scss";


html {
  height: 100%;
  box-sizing: border-box;

}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  color: var(--text-color-hard);
  font-weight: 400;
  font-family: NotoSans, Arial, "Arial Unicode MS", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  word-break: normal;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

$light-primary: mat.define-palette(mat.$indigo-palette);
$light-accent: mat.define-palette(mat.$amber-palette);
$light-theme: mat.define-light-theme((color: (primary: $light-primary,
        accent: $light-accent,
      ),
    ));

// Define a dark theme
$dark-primary: mat.define-palette(mat.$blue-gray-palette);
$dark-accent: mat.define-palette(mat.$blue-gray-palette);
$dark-theme: mat.define-dark-theme((color: (primary: $dark-primary, accent: $dark-accent, density: -2),
    ));

.color-scheme-dark {


  @include mat.all-component-themes($dark-theme);

}

.color-scheme-light {

  @include mat.all-component-themes($light-theme);

}

/**

$purple-palette,
$deep-purple-palette,
$blue-palette,
$light-blue-palette,
$cyan-palette,
$teal-palette,
$green-palette,
$light-green-palette,
$lime-palette,
$yellow-palette,
$amber-palette,
$orange-palette,
$deep-orange-palette,
$brown-palette,
$grey-palette,
$gray-palette,
$blue-grey-palette,
$blue-gray-palette,
$light-theme-background-palette,
$dark-theme-background-palette,
$light-theme-foreground-palette,
$dark-theme-foreground-palette

**/